READ_ENV_FILE=yes
USE_DOCKER=no
DJANGO_DEBUG=no
DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_STATIC_ROOT={{ django_static_root }}
DJANGO_MEDIA_ROOT={{ django_media_root }}
DJANGO_ALLOWED_HOSTS={{ django_allowed_hosts }}
DJANGO_DATABASE_DEFAULT_URL={{ django_database_default_url }}
SENTRY_DSN={{ sentry_dsn }}
DJANGO_ADMIN_URL={{ django_admin_url }}
DJANGO_ADMINS=""